{% extends 'admin/change_list.html' %}



{% block search %}
    <div id="toolbar">
        <form id="changelist-search" method="get" role="search">
            <div><!-- DIV needed for valid HTML -->
                <label for="searchbar"><img src="/static/admin/img/search.svg" alt="Search"></label>
                <input type="text" size="40" name="q" value="" id="searchbar" placeholder="Введите имя для поиска">
                <input type="submit" value="Search">


            </div>

        </form>
    </div>


{% endblock %}